body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    display: flex;
    justify-content: center;
    width: 40%;;
    display: block;
    margin: auto;
}

header h1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

header hr {
    line-break: normal;
    color: white;
    width: 90%;
}

main {
    
}
.bild {
    display: flex;
    height: 50%;
    width: 50%;
}

section {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;


}

article {
    width: 40%;
    height: 200px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
}


@media screen and (min-width: 1000px) {
    .logga {
        height: 150px;
        width: 150px; 
}
}