body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
}

.top-page span {
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    color: white;
    position: absolute;
    z-index: 1;
}

.top-page h1 {
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.team {
    margin: auto;
    width: 80%;
    height:auto;
    margin-top: 20px;
}

main h2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

main h3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

main h4 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

main p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: white;
    color: black;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

.vision h3 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 1.5em;
}

.vision h4 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.vision p {
    margin-bottom: 10px;
    margin-top: 0px;
}

.ledord {
    font-weight: bolder; 
}

.link {
    color: white; 
}
