header h1 {
    margin-bottom: 30px;
    font-size: 3em;
}

header img {
    width: 40%;
}

main h2 {
    font-size: 2em;
    padding-left: 40px;
}

main p {
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 40px;
}