header h1 {
    margin-bottom: 30px;
    font-size: 3em;
}

.top-page span {
    font-size: 50px;
}

header img {
    width: 40%;
}

.teamet {
    display: flex;
    flex-direction: row;
    

}

.profile {
    display: flex;
    flex-direction: column;

}

main h2 {
    font-size: 2em;
    padding-left: 40px;
}

main p {
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 40px;
}