/* Footer */
footer {
    width: 100%;
    bottom: 0;
    background-color: black; 
    text-align: center; 
    padding: 10px 0; 
}

footer p {
    color: white; 
    margin: 0;
    text-align: center;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    font-size: clamp(1em, 2vw, 1em);
}

.feedback-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.feedback-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.feedback-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative; /* Gör att absolut positionerade element inom denna blockeras relativt till den här */
}

.popup-content h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: clamp(2em, 5vw, 2em);
    padding-top: 50px;
}

.popup-content p {
    margin-bottom: 20px;
    font-size: clamp(1.2em, 2vw, 1.2em);
    color: black;
}

.feedback-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: clamp(2em, 5vw, 2em);
    padding-bottom: 30px;
}

.close-btn {
    font-size: clamp(5em, 10vw, 5em);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -15px; 
    right: 20px;  
    color: black;
}

.close-btn:hover {
    color: black;
}