body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.top-page span {
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    color: white;
    position: absolute;
    z-index: 1;
}

.top-page h1 {
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

header img {
    margin: auto;
    width: 80%;
    height:auto;
    filter: grayscale(60%);
    border-radius: 5px;
}

main h2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
}

main h3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

main p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

main ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-size: 1.2em;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

main li {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.family-tree {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height:auto;
    border-radius: 5px;;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.gallery img {
    margin: auto;
    height: auto;
    width: 200px;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    line-break: normal;
    color: white;
    width: 90%;
    margin-top: 60px;
}

.summery {
    font-size: 3em;
}