/* Default styles (dark mode) */
body {
    background-color: black;
    color: white;
    font-family: "Caesar Dressing", serif;
}

/* Sidnamn och pil tillbaka */
.top-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.material-symbols-outlined {
    font-size: 4vw;
}

.top-page span {
    font-size: 6vw;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    color: white;
    position: absolute;
    z-index: 1;
}

.top-page h1 {
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    text-wrap: wrap;
    text-align: center;
    font-size: 6vw;
}

/* Innehåll högst upp */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header p {
    text-align: center; 
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3.5vw;
    font-family: "Amatic SC";
}

header img {
    margin: auto;
    width: 80%;
    height: auto;  
    border-radius: 5px;
    margin-top: 30px;
}

/* Huvudinnehåll */
main h2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 5vw;
    text-wrap: wrap;
}

main h3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 4vw;
    text-wrap: wrap;
}

main h4 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 3vw;
    text-wrap: wrap;
}

main p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 3.5vw;
    font-family: "Amatic SC";
}

/* Länkningar direkt i brödtext */
.link {
    color: white; 
}

a {
    color: white;
}

/* Siddelare */
hr {
    line-break: normal;
    color: white;
    width: 90%;
    margin-top: 60px;
}

/* Listor i brödtext */
main ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-size: 3vw;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

main li {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 3vw;
    font-family: "Amatic SC";
}

/* Quotes i brödtext t.ex. Gathenhielmska husets sida */
main q {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 3vw;
    font-family: "Amatic SC";
    font-weight: bold;
}

/* Familjeträd på Frammegården */
.family-tree {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height:auto;
    border-radius: 5px;
}

/* Bildspel ihop med brödtext */ 
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.image-container {
    display: flex;             
    flex-direction: column;      
    align-items: center;        
    justify-content: flex-end;    
    text-align: center;        
    margin: auto;              
}

.image-container img {
    width: 250px;               
    height: auto;
    border-radius: 5px;        
}

.image-caption {
    font-size: 3vw;            
    color: white;           
    margin-top: 10px;           
}

/* Vision och ledord på sidan om oss */
.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: white;
    color: black;
    width: 90%;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

.vision h3 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 3vw;
    padding-left: 10px;
    padding-right: 10px;
}

.vision h4 {
    margin-bottom: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.vision p {
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.ledord {
    font-weight: bolder; 
    padding-left: 10px;
    padding-right: 10px;
}

/* Youtube videor */
article {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-thumbnail {
    position: relative;
    width: 560px;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.custom-thumbnail img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
    padding: 15px 20px;
    font-size: 30px;
    pointer-events: none;
}

/* Pop-up för feedback */
.feedback-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.feedback-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.feedback-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 2.5vw;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative; /* Gör att absolut positionerade element inom denna blockeras relativt till den här */
}

.popup-content h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 4vw;
}

.popup-content p {
    margin-bottom: 10px;
    font-size: 3vw;
}

.feedback-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 10px;
}

.close-btn {
    font-size: 8vw;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0px; 
    right: 20px;  
    color: black;
}

.close-btn:hover {
    color: black;
}