/* Sidnamn och pil tillbaka */
.top-page span {
    font-size: 50px;
}

.top-page h1 {
    font-size: 3em;
    padding-left: 10px;
}

/* Innehåll högst upp */
header p {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
}

header img {
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}

/* Huvudinnehåll */
main h2 {
    font-size: 2.5em;
    margin-top: 50px;
}

main h3 {
    font-size: 2em;
}

main h4 {
    font-size: 2em;
}

main p {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
}

article {
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery {
    flex-direction: row;
    justify-content: space-evenly;
}

.image-container img {
    width: auto;               
    height: 300px;    
}

.youtube {
    display: flex;
    display: row; 
    justify-content: center;
}

iframe {
    width: 500px;
}

/* Listor i brödtext */
main ul {
    font-size: 2em;
}

main li {
    font-size: 1em;
}

main q {
    font-size: 1em;
}

/* Bildspel ihop med brödtext */ 
main figcaption {
    font-size: 1em;
}

/* Vision och ledord på sidan om oss */
.vision h3 {
    font-size: 2em;
}

.vision h4 {
    font-size: 1.5em;
}

.vision p {
    font-size: 2em;
}

.ledord {
    font-size: 2em;
}