header h1 {
    margin-bottom: 30px;
    font-size: 3em;
}

.top-page span {
    font-size: 50px;
}

header img {
    width: 40%;
}

main h2 {
    font-size: 2em;
    padding-left: 40px;
}

article {
    flex-direction: row;
    flex-wrap: wrap;
}

main p {
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 40px;
}