header h1 {
    margin-bottom: 30px;
    font-size: 3em;
}

.top-page span {
    font-size: 50px;
}

header img {
    width: auto;
    height: 400px;
}

main h2 {
    font-size: 2em;
    padding-left: 40px;
}

article {
    flex-direction: row;
    flex-wrap: wrap;
}

main p {
    font-size: 1.2em;
    padding-left: 40px;
    padding-right: 40px;
}

.gallery {
    flex-direction: row;
    justify-content: space-evenly;
}

.image-container img {
    width: auto;               
    height: 300px;    
}
