/* Sidnamn och pil tillbaka */
.top-page span {
    font-size: 50px;
}

.top-page h1 {
    font-size: 3em;
}

/* Innehåll högst upp */
header p {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
}

header img {
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}

/* Huvudinnehåll */
main h2 {
    font-size: 2.5em;
    margin-top: 50px;
}

main h3 {
    font-size: 2em;
}

main h4 {
    font-size: 2em;
}

main p {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
}

article {
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery {
    flex-direction: row;
    justify-content: space-evenly;
}

.image-container img {
    width: auto;               
    height: 300px;    
}

.youtube {
    display: flex;
    display: row; 
    justify-content: center;
}

iframe {
    width: 500px;
}

/* Pop-up för feedback */
.feedback-icon {
    bottom: 10px;
    right: -70px;

}

.feedback-icon img {
    width: 40%;
    height: 40%;
}

.popup-content {
    width: 500px;
}

.popup-content h3 {
    font-size: 1.5em;
}

.popup-content p {
    font-size: 1em;
}

.feedback-link {
    font-size: 1.5em;
}