.logo-1 {
    width: 300px;
}

video {
    top: 0px;
}

h1 {
    font-size: 4em;
    margin-top: 40px;
}

header p {
    padding-left: 70px;
    padding-right: 70px;
}

main {
    z-index: 2;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
}

section > *:nth-last-child(1):nth-child(3n+1) {
    justify-self: center;
}

.recension img {
    width: 30%;
}