.logo-1 {
    width: 300px;
}

video {
    top: 0px;
}

h1 {
    font-size: 4em;
    margin-top: 40px;
}

header p {
    padding-left: 70px;
    padding-right: 70px;
}

main {
    z-index: 2;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px; /* Om du vill ha avstånd mellan korten */
    justify-content: center; /* Säkerställer att grid centreras */
}

.recension img {
    width: 30%;
}

.card-still,
.card,
.card-education {
    grid-column: span 4; 
}

.card:last-child:nth-child(odd),
.card-still:last-child:nth-child(odd),
.card-education:last-child:nth-child(odd) {
    grid-column: 5 / span 4; /* Börjar vid kolumn 5 och sträcker sig över 4 kolumner */
    justify-self: center;
}

.card:nth-last-child(1):nth-child(odd),
.card-still:nth-last-child(1):nth-child(odd),
.card-education:nth-last-child(1):nth-child(odd) {
    grid-column: 5 / span 4;
}

/* Om sista raden har exakt två kort och sektionen har bara två rader */
section:has(.card:nth-child(4)):has(.card:nth-child(5)) .card:nth-last-child(2),
section:has(.card-still:nth-child(4)):has(.card-still:nth-child(5)),
section:has(.card-education:nth-child(4)):has(.card-education:nth-child(5)) {
    grid-column: 3 / span 4; /* Första kortet centreras */
}

section:has(.card:nth-child(4)):has(.card:nth-child(5)) .card:nth-last-child(1),
section:has(.card-still:nth-child(4)):has(.card-still:nth-child(5)),
section:has(.card-education:nth-child(4)):has(.card-education:nth-child(5)) {
    grid-column: 7 / span 4; /* Andra kortet centreras */
}

/* När det bara finns en rad */
section:has(.card:nth-child(2):nth-last-child(1)) .card {
    grid-column: 3 / span 4; /* Första kortet */
}

section:has(.card:nth-child(2):nth-last-child(1)) .card:nth-last-child(1) {
    grid-column: 7 / span 4; /* Andra kortet */
}