* {
    box-sizing: border-box;
}

/* Default styles (dark mode) */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: "Caesar Dressing", serif;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Grundläggande navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    background-color: black;
}

/* Dölj menyn som standard */
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 1001;
}

/* När hamburgermenyn är aktiv */
.nav-links.active {
    display: flex;
    list-style-type: none;
    height: 100vh;
    top: 0px;
    z-index: 999;
    padding-top: 40px;
}

/* --- Mobilanpassning (hamburgermeny) --- */
.hamburger {
    display: block; /* Visa endast i mobil */
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; /* Lägg till lite padding för att göra knappen större */
    border-radius: 5px; /* Gör hörnen runda */
}

.hamburger.active {
    transform: rotate(90deg);
}

.hamburger:focus,
.nav-links a:focus {
    outline: 2px solid white;
}

/* Stil för länkar */
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
}

/* Logga */
.logo-1 {
    width: 40vw;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
    top: -30px;
}

.logo-2 {
    display: none; 
}

h1 {
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: clamp(1.5em, 4vw, 3em);
    position: relative;
    z-index: 2;
    white-space: normal;
    padding: 0 10px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

h1 span:nth-child(1){
    animation-delay: 1s; //H
}
h1 span:nth-child(2){
    animation-delay: 1.5s; //I
}
h1 span:nth-child(3){
    animation-delay: 1.75s; //S
}
h1 span:nth-child(4){
    animation-delay: 2s; //T
}
h1 span:nth-child(5){
    animation-delay: 2s; //O
}
h1 span:nth-child(6){
    animation-delay: 2.5s; //R
}
h1 span:nth-child(7){
    animation-delay: 2.7s; //I
}
h1 span:nth-child(8){
    animation-delay: 3s; //S
}
h1 span:nth-child(9){
    animation-delay: 3s; //K
}  
h1 span:nth-child(10){
    animation-delay: 3.5s; //A
}
h1 span:nth-child(11){
    animation-delay: 3.5s;
}
h1 span:nth-child(12){
    animation-delay: 3.5s; //R
}
h1 span:nth-child(13){
    animation-delay: 3.7s; //Ö
}
h1 span:nth-child(14){
    animation-delay: 4s; //S
}
h1 span:nth-child(15){
    animation-delay: 4s; //T
}
h1 span:nth-child(16){
    animation-delay: 4.5s; //E
}
h1 span:nth-child(17){
    animation-delay: 4.7s; //R
}

h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

header p {
    text-align: center;
    font-size: clamp(1em, 3vw, 2em);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    position: relative;
}

/* Rökeffekt */
.top-effect {
    height: 10px;
    background: #000;
    margin-top: 0;
    z-index: 1;
}

video {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

@keyframes fill {
    0% {
        width: 0%;
    }
    50% {
        width:100%;
        height: 2px;
    }
    100% {
        width: 100%;
        height: 10%;
        background: hsl(0, 100%, 100%, 0.2);
        border-radius: 5px;
    }
}

hr {
    color: white;
    width: 90%;
    position: relative;
    z-index: 2;
}

main {
    position: relative;
    width: 100%;
    flex: 1;
}

main h2 {
    padding-left: 10px;
    text-align: center;
    font-size: clamp(1.5em, 5vw, 4em);
    margin-bottom: 5px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

main p {
    text-align: center;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: clamp(1em, 3vw, 2em);
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
}

.card,
.card-education {
    display: block;
    justify-content: center;
    width: 90%;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
}

 
.card h3,
.card-education h3 {
    font-size: clamp(1.5em, 5vw, 4em);
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card h3 {
    margin-bottom: 5px;
}

.card-education h3 {
 
    margin-bottom: 0px;
}

.card h4,
.card-education h4 {
    font-size: clamp(1em, 3vw, 3em);
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

.card img,
.card-education img  {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card a, 
.card-education a {
    text-decoration: none;
    top: -20px;
    position: relative;
    z-index: 1; 
    width: 100%;
    height: 100%;
}

.card span,
.card-education span {
    color: black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 10px; 
    position: relative;
    z-index: 0;
}

.card p,
.card-education p {
    font-size: clamp(1em, 3vw, 2em);
    color: black;
    margin-top: 0px;
}

/* Hover effekt på korten */
.card:hover {
    transform: translateY(-10px);
}

/* Recension */
.recension {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recension img {
    width: 70%;
    height: auto;
}