body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 200px;
    position: relative;
    z-index: 2;
}

h1{
    transform: translateY(-50%);
    width: 80%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.1rem; 
    top: 250px;  
    margin-bottom: 20px;
    position: absolute;
    z-index: 2;
}

h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

.top-effect {
    height: 40px;
    background: #000;
    padding-bottom: 30px;
}

video {
    width: 100vw;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

h1 span:nth-child(1){
    animation-delay: 1s; //H
}
h1 span:nth-child(2){
    animation-delay: 1.5s; //I
}
h1 span:nth-child(3){
    animation-delay: 1.75s; //S
}
h1 span:nth-child(4){
    animation-delay: 2s; //T
}
h1 span:nth-child(5){
    animation-delay: 2s; //O
}
h1 span:nth-child(6){
    animation-delay: 2.5s; //R
}
h1 span:nth-child(7){
    animation-delay: 2.7s; //I
}
h1 span:nth-child(8){
    animation-delay: 3s; //S
}
h1 span:nth-child(9){
    animation-delay: 3s; //K
}  
h1 span:nth-child(10){
    animation-delay: 3.5s; //A
}
h1 span:nth-child(11){
    animation-delay: 3.5s;
}
h1 span:nth-child(12){
    animation-delay: 3.5s; //R
}
h1 span:nth-child(13){
    animation-delay: 3.7s; //Ö
}
h1 span:nth-child(14){
    animation-delay: 4s; //S
}
h1 span:nth-child(15){
    animation-delay: 4s; //T
}
h1 span:nth-child(16){
    animation-delay: 4.5s; //E
}
h1 span:nth-child(17){
    animation-delay: 4.7s; //R
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {
    display: flex;
    gap: 5px;
    list-style: none;
    text-align: center;
    padding: 0px;
}

nav li {
    align-content: center;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1em; 
    position: relative;
    padding-left: 5px;
    padding-right: 5px;

}

.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    z-index: -1;
}

.link:hover::before {
    animation: fill 1s forwards;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    50% {
        width:100%;
        height: 2px;
    }
    100% {
        width: 100%;
        height: 10%;
        background: hsl(0, 100%, 100%, 0.2);
        border-radius: 5px;
    }
}

hr {
    line-break: normal;
    color: white;
    width: 90%;
    position: relative;
    z-index: 2;
}

main {
    position: absolute;
}

main h2 {
    padding-left: 10px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 50px;
    padding-left: 0px;
}

.first-section {
    margin-top: 40px;
}

main p {
    text-align: center;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: 10px;
    width: 100%;
}

.upcoming {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.upcoming a {
    text-decoration: none;
}


section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
    text-decoration: none;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.event a {
    text-decoration: none;
}


.learning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.learning a {
    text-decoration: none;
}

article h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
    width: 100%;
    text-decoration: none;
    color: white;
}


article img {
    display: flex;
    width: 100%;
    object-fit: scale-down;
    margin-bottom: 20px;
}

article h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

article.stories {
    height: auto;
}