h1 {
    font-size: 3em;
}

.link {
    font-size: 1.5em;
}

nav {
    justify-content: space-evenly;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul {
    justify-content: space-evenly;
    width: 100%;
}

main h2 {
    margin-top: 90px;
    font-size: 2.5em;
}

main p {
    font-size: 1.2em;
}

section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
}

.upcoming {
    width: 25%;
    height: 480px;
}

section a {
    width: 25%;
}

.events {
    height: 450px; 
}

.learning {
    height: 400px;
}

.learning img {
    margin-bottom: 0px;
}

article {
    height: auto;
}

article h3 {
    margin: 0px;
    height: 85px;   
    font-size: 2em;
}

article img {
    max-height: auto; 
    object-fit:cover;
    object-position: top;
    height: 300px;
    margin-bottom: 0px;
}

article h4 {
    font-size: 1.2em;

}

.recension {
    flex-direction: row;
}

.recension img {
    width: 30%;
}

