.link {
    font-size: 1em;
}

nav ul {
    font-size: 2em; 
}

video {
    top: 200px;
}

h1 {
    font-size: 3em;
}

header p {
    font-size: 2em;
}

main h2 {
    font-size: 2.5em;
}

main p {
    font-size: 2em;
}

section {
    grid-template-columns: repeat(8, 1fr);
    gap: 0px;
    padding: 0 20px;
    grid-auto-flow: dense;
}

.card,
.card-still,
.card-education {
    grid-column: span 4;
    margin-bottom: 30px;
}

.card:last-child:nth-child(odd),
.card-still:last-child:nth-child(odd),
.card-education:last-child:nth-child(odd) {
    grid-column: 3 / span 4;
    justify-self: center;
}

.card h3, 
.card-still h3,
.card-education h3 {
    font-size: 2em; 
}

.card-still h4,
.card h4,
.card-education h4 {
    font-size: 1.5em;
}


.card-still p,
.card p,
.card-education p {
    font-size: 1.5em;
}

.card-still img,
.card img {
    height: 500px;
}

.card img {
    margin-top: 15px;
}


.recension {
    flex-direction: row;
}

.recension img {
    width: 30%;
}

